{% extends 'email/layout.html.twig' %}

{% block content %}
    <row>
        <spacer size="80"></spacer>
        <img
            src="{{ email.image('@images/%s.png'|format('q-logo')) }}"
            alt="logo"
            style="width: 100px;"
            class="small-float-left float-center small-margin-bottom"
        >
    </row>
    <row>
        <columns>
            <spacer size="40"></spacer>
            <h1 style="text-align: center; color: #EE204D;">
                👋 Hi {{ entity.firstName }},
            </h1>
            <h1 class="text-red" style="text-align: center;">
                Welcome to Q-Commerce !
            </h1>
            <p style="text-align: center">Thank you for signing up. Please confirm your email address before signing in.</p>
        </columns>
    </row>
    <row>
        <columns>
            <center>
                <button href="{{ url('app_user_verify', { token : entity.verificationToken }) }}" class="button primary rounded center">Confirm Email</button>
            </center>
        </columns>
    </row>
    <row>
        <columns>
            <p>If you didn’t sign up, just ignore this email.</p>
        </columns>
    </row>
{% endblock %}